---
---

@import "{{ site.theme }}";

a:active {
	color: #d25;
	border-bottom: 1px solid rgba(179, 0, 45, 0.5);
	transition: none;
    }

.navLevel {
	padding-left: 5px;
}


.navLevel0 {
	padding-left: 5px;
}

.navLevel1 {
	padding-left: 20px;
}

.navLevel2 {
	padding-left: 40px;
}
